.Header{
  width: 100%;
  background-color: black;
  color: white;
  height: 50px;
  border: thin solid white;
  font-family: monospace, monospace;
}

.App {
  text-align: center;
  display: flex;
  background-color: black;
  color: white;
  font-family: monospace, monospace;
}

.LeftSide{
  border: thin solid white;
  width: 400px;
}

.RightSide{
  border: thin solid white;
  width: 400px;
}

.SectionHeading{
  padding-top: 5px;
  padding-bottom: 5px;
  border: thin solid white;
}

.AddPlantButtons{
  display: flex;
  flex-wrap: wrap;
  padding: 12px;
}

.AddPlantButton{
  font-family: monospace, monospace;
  background-color: black;
  border: thin solid white;
  color: white;
  margin: 6px;
  padding: 5px;

}

.AddPlantButton:hover{
  background-color: white;
  color: black;
}


.WeatherButton{
  width: 33.33333333333333%;
  height: auto;
  background-color: black;
  border: thin solid white;
}

.WeatherButton:hover{
  background-color: white;
}


img{
  width: 80%;
  height: auto;
}

img:hover{
  filter: invert(100%);
}

.DeletePlantButton{
  background-color: black;
  color: white;
  border: black;
}

.GardenLog{
  display: flex;
}

.GardenManager{
  padding: 5px;
}

.PlantData{
  text-align: justify;
  text-justify: inter-word;
  display: flex;
  justify-content: space-between;
}
.HealthBars{
  padding-top: 15px;
  height: 100px;
  justify-content: left;

}

progress[value] {
  /* Reset the default appearance */
  -webkit-appearance: none;
  appearance: none;
  padding-right: 20px;
  width: 200px;
  height: 10px;
}



progress[value]::-webkit-progress-bar {
  background-color: black;
  border: thin solid white;
}

progress[value]::-webkit-progress-value {
  background-color: white;
}

.WeatherManager{
  width: 100%;
}

.Info{
  width: 300px;
  display: flex;
  justify-content: space-between;
  padding-right: 10px;
}
